{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}
{% block style %}{% static 'css/main_style.css' %}{% endblock %}
{% block content %}
        <div class="task_container mt-5">
            <span class="fs-4 fw-medium">{{user_obj.username}} | {{user_obj.email}}</span>
            {% if user_obj == user %} 
                <a href="{% url 'accounts:profile_edit' user_obj.pk %}" class="btn btn-primary">Редактировать профиль</a>
            {% endif %}

            <h2>Оставленные комментарии</h2>
            
            <div class="prod_comments px-3">
            {% for review in user_obj.a_review.all %}
            {% if user_obj != user %}
                {% if review.moderate %}
                <div class="task_box">
                    <span class="fs-4 fw-medium">Продукт: {{review.product.title}}</span>
                    <p>{{review.text}}</p>
                    <h4>Оценка: {{review.rate}}</h4>
                    <h5>Опубликован</h5>
                {% endif %}
                </div>
            {% else %}
                <div class="task_box">
                    <span class="fs-4 fw-medium">Продукт: {{review.product.title}}</span>
                    <p>{{review.text}}</p>
                    <h4>Оценка: {{review.rate}}</h4>
                    {% if review.moderate %} 
                        <h5>Опубликован</h5>
                    {% else %}
                        <h5>На модерации</h5>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="col-6 mb-5">
                        <a href="{% url 'accounts:review_edit' user_obj.pk review.pk %}" class="btn btn-primary">Редактировать</a>
                        <a href="{% url 'accounts:review_delete' user_obj.pk review.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                    {% endif %}
                </div>
                <hr>
            {% endif %}
            {% empty %}
                <p>Отзывов пока нет</p>
            {% endfor %}
            </div>
            
        </div>
{% endblock %}