{% extends "base.html" %}
{% load static %}

{% block title %}Detailed{% endblock %}
{% block style %}{% static 'css/add_style.css' %}{% endblock %}

{% block content %}
        <div class="task_box">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Вы уверены?</h1>
                <div class="box">
                    <button type="submit" class="btn btn-primary">Да</button>
                    <a href="{% url 'product_list' %}" class="btn btn-danger">Нет</a>
                </div>
            </form>
        </div> 
{% endblock %}