{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}
{% block style %}{% static 'css/main_style.css' %}{% endblock %}
{% block content %}
        <div class="row prod_container justify-content-between ">
            {% for product in products %}
            <div class="col-4 card d-flex flex-column justify-content-between" style="width: 18rem; margin-top: 3%">
                <div class="card-head">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                </div>
                
                <div class="card-body d-flex flex-column justify-content-end">
                    <p class="card-text">{{product.get_category_display}}</p>
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <h6>Средняя оценка: {{product.get_avg_rate}}</h6>
                    <a href="{% url 'detailed_product' product.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
              </div>
                {% empty %}
                <p>Товары не найдены</p>
            {% endfor %}
        </div>
{% endblock %}