{% extends "base.html" %}
{% load static %}

{% block title %}Detailed{% endblock %}
{% block style %}{% static 'css/add_style.css' %}{% endblock %}
{% block content %}
<h1>Редактирование отзыва</h1>
<form action="" method="post"> 
    {% csrf_token %}
    <div class="row">
        <div class="col-10">
            {{review.author.username}} | {{review.product.title}}
        </div>
        <div class="col-10">
            {{form.text}}
        </div>
        <div class="col-2">
            {{form.rate}}
        </div>
        <div hidden>
            {{form.author}}
            {{form.product}}
        </div>
        {% if perms.products.moderate_rev %}
        <div class="col-2 fs-4 fw-medium">
            Модерация {{form.moderate}}
        </div>
        {% endif %}
    </div>
<p><input class="btn btn-secondary mt-3 mb-3" type="submit" value="Подтвердить"></p>
</form>
{% endblock %}